<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/styles.css">
    <title>CRMagic</title>
  </head>
  <body>
    <h1>Bitmaker CRM</h1>
    <a class='navigation' href="/crm">Home</a>
    <a class='navigation' href="/contacts">All Contacts</a>
    <a class='navigation' href="/contacts/new">Add a Contact</a>
    <a class='navigation' href="/about_me">About</a>
    <%= yield %>
    <footer>© James Neilson 2017</footer>
  </body>
</html>
